<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Type 1</h4>
                    <p class="category">Devices emitting data every 10 seconds</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of type1">
                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                                <td>{{row}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Type 2</h4>
                    <p class="category">Devices emitting data every 1 second</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of type2">
                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                                <td>{{row}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
